<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team.Profile.Gen</title>
    <!-- MATERIALIZE CSS LINKAGE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FONTAWESOME LINKAGE -->    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
    <!-- GOOGLE FONTS LINKAGE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- CSS LINKAGE -->
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body id="body-area">
    <!-- NAV START -->
    <nav> 
        <div class="nav-wrapper">
            <div data-target="slide-out" class="sidenav-trigger" id="nav-row-div">
                <a id="nav-row" href="#" class="brand-logo">
                    <i id="nav-brand-icon" class="fas fa-users-cog"></i>
                    &nbsp;Team.Profile.Gen
                </a>
            </div>
        </div>
    </nav>
    <!-- NAV END -->
    <!-- MAIN AREA START -->
    <main>
        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="card blue-grey darken-1">
                    <div id="tpg-card" class="card-content white-text">
                        <div id="tpg-card-title" class="card-action">
                            <h3 id="tpg-city">Project</h3>
                        </div>
                        <div id="tpg-cardrow" class="card-action">
                            <h4 id="tpg-date">{{ Project Name }}</h4>
                        </div>
                        <div id="tpg-cardfore" class="card-action">
                            <div id="tpg-sq-row" class="row">
